body {
  background-color: #393E46;
  margin: 8px;
   }

h1 {
font-family: 'Lobster', cursive;
font-size: 8rem;
color: #4ECCA3;

}

p {
  font-family: 'Indie Flower' , cursive;
  color: #4ECCA3;
  font-size: 2rem;

}

footer {
font-family: 'Indie Flower' , cursive;
text-align: center;
color: #EEEEEE;
margin-top: 9%;
}

.top {
text-align: center;
}

.dice {
text-align: center;
display:inline-block;
margin: 10px;
}
